            /* Con *, modificamos el tipo de letra para toda la web */
            
            * {
                font-family: 'Times New Roman', Times, serif;
            }
            /* estilos para el encabezado página */
            
            header {
                background-color: cadetblue;
                padding: 2%;
                text-decoration: underline;
            }
            /* Estilo para h1 */
            
            header h1 {
                text-align: center;
            }
            /* estilos para la barra de navegacion */
            
            nav ul li {
                /* Tipo de letra */
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                /* Tamaño de la caja*/
                width: 10%;
                /* Borde en px, tipo y color*/
                border: 3px solid #73AD21;
                /* Tamaño de relleno */
                padding: 10px;
                /* bloquea el display */
                display: block;
                /* Margen a los botones para separarlos */
                margin-bottom: 10px;
            }
            /* estilos para el articulo de la página */
            
            article {
                text-align: left;
                padding: 1%;
            }
            /* Estilo para el h2 del articulo */
            
            article h2 {
                text-align: center;
            }
            /* estilos de pie de página */
            
            #pie {
                color: grey;
                text-align: center;
                border-top: 1px solid #7a7a78;
                padding: 2%;
            }