* {
    font-family: 'Times New Roman', Times, serif;
}

.telefono {
    color: white;
    background-color: rosybrown;
}


/* estilos de pie de página */

#pie {
    color: grey;
    text-align: center;
    border-top: 1px solid #7a7a78;
}


/* Pseudoclases */


/* Pasar ratón por encima */

a:hover {
    color: yellow;
    background-color: black;
}


/*enlace sin visitar */

a:link {
    color: red;
}


/*enlace ya visitado */

a:visited {
    color: grey;
}


/*Mientras pulso*/

a:active {
    text-decoration: none;
}


/* Cuando tiene el foco */

a:focus {
    font-weight: bold;
}


/* formularios */

#input-1:focus {
    background-color: salmon;
}

#input-2:focus {
    background-color: salmon;
}


/* Mostrar un input en cada linea */

input {
    display: block;
    /* margen con lo que tengo a mi alrededor */
    margin-bottom: 10px;
}


/* Borde para el legend */

legend {
    /* ancho-estilo-color */
    border: 1px solid blue;
}


/** Espacio de un contenedor respecto a su contenido **/

fieldset {
    padding: 20px;
}