                    /* Con *, modificamos el tipo de letra para toda la web */
                    
                    * {
                        font-family: 'Times New Roman', Times, serif;
                    }
                    /* Estilo para body de la página */
                    
                    body {
                        /* tipo de fuente */
                        font: 24px Helvetica;
                        /* Color de fondo y color de la fuente */
                        background: whitesmoke;
                        color: black;
                        /* Tamaño de margen para body */
                        margin: 0;
                    }
                    /* estilos para el encabezado página */
                    
                    header {
                        /* Tamaño y tipo de fuente de la cabezera */
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        font-size: 50px;
                        color: whitesmoke;
                        /* Color de fondo */
                        background-color: #141313;
                        /* Borde de un 1px con color y separacion */
                        border: 1px solid #141313;
                        border-bottom: 5px solid #fa1616;
                        ;
                        padding: 2%;
                        text-decoration: underline;
                    }
                    /* Estilo para h1 */
                    
                    header h1 {
                        text-align: left;
                        font-size: 150%;
                    }
                    /* Estilo para  precio encontrado en codepen.io */
                    
                    .precio {
                        display: inline-block;
                        width: auto;
                        height: 38px;
                        background-color: #fcd303;
                        -webkit-border-radius: 3px 4px 4px 3px;
                        -moz-border-radius: 3px 4px 4px 3px;
                        border-radius: 3px 4px 4px 3px;
                        border-left: 1px solid #fcd303;
                        /* Espacio triángulo */
                        margin-left: 19px;
                        position: relative;
                        color: black;
                        font-weight: 300;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 22px;
                        line-height: 38px;
                        padding: 0 10px 0 10px;
                    }
                    /* Triángulo */
                    
                    .precio:before {
                        content: "";
                        position: absolute;
                        display: block;
                        left: -19px;
                        width: 0;
                        height: 0;
                        border-top: 19px solid transparent;
                        border-bottom: 19px solid transparent;
                        border-right: 19px solid #fcd303;
                    }
                    /* Makes the circle */
                    
                    .tag:after {
                        content: "";
                        background-color: white;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                        display: block;
                        position: absolute;
                        left: -9px;
                        top: 17px;
                    }
                    /* Estilo imagen en header */
                    
                    .logo {
                        width: 250px;
                        float: left;
                    }
                    /* estilos para la barra de navegacion */
                    
                    .prod {
                        width: 300px;
                        float: left;
                    }
                    /* estilos para imágenes de productos */
                    
                    .acerca {
                        width: 210px;
                        float: left;
                        border-radius: 50%;
                    }
                    /* estilo redondo para la sección 'acerca de' */
                    
                    nav ul {
                        color: white;
                        /* Color de fondo */
                        background: #141313;
                        /* Tipo de letra */
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        /* Tamaño de la caja*/
                        width: 10%;
                        /* Borde en px, tipo y color*/
                        border: 5px solid #fa1616;
                        /* Tamaño de relleno */
                        padding: 10px;
                        /* bloquea el display */
                        display: block;
                        /* margen respecto a la izq */
                        margin-left: 3px;
                        /* Margen a los botones para separarlos */
                        margin-bottom: 10px;
                        /* Navegacion lateral fija en pantalla de ajuste 80% */
                        position: absolute;
                        height: 850px;
                        overflow: auto;
                        width: 12%;
                    }
                    /* Estilo solo para los li a */
                    
                    li a {
                        display: block;
                        /* Texto color y separacion de 1 px */
                        color: whitesmoke;
                        font-size: x-large;
                        padding: 1px 10px;
                        text-decoration: none;
                    }
                    
                    li a:hover {
                        background-color: #2e5ca6;
                        color: white;
                    }
                    /* class="h3" alineado en el centro */
                    
                    .h3 {
                        text-align: center;
                    }
                    /* Estilo seccion margen de la sección desde la izquierda y derecha class="section" */
                    
                    .section {
                        margin-left: 12%;
                        margin-right: 0%;
                    }
                    /* Estilo h1 section */
                    
                    .h1 {
                        text-align: center;
                        font-size: 300%;
                        color: black;
                    }
                    /* Estilo para la leyenda del fieldset */
                    
                    legend {
                        text-align: center;
                        font-size: 150%;
                        color: black;
                        background-color: #FFFFFF;
                        /*Borde externo*/
                        border-style: double;
                        border: 3px solid #000000;
                        padding: 2%
                    }
                    /* Estilo para el articulo */
                    
                    article {
                        /* Posicion  "absoluta" respecto a la página */
                        position: relative;
                        /* Posición del artículo */
                        margin: 40px;
                        padding: 50px;
                        /* Borde, color del borde y grosor */
                        border: 5px solid black;
                        border-radius: 7pt;
                    }
                    /* Estilo para h1 del articulo */
                    
                    article h1 {
                        text-align: center;
                        /* Tamaño de la fuente */
                        font-size: 200%;
                    }
                    /* Estilo para h2 del articulo */
                    
                    article h2 {
                        text-align: left;
                    }
                    /* Estilo para fieldset  class="caja" */
                    
                    .caja {
                        border: 2px solid #2e5ca6;
                        margin: 2%;
                    }
                    /* Estilo para h2 de aside */
                    
                    aside h2 {
                        text-align: center;
                    }
                    /* Estilo botón class="button" */
                    
                    .button {
                        /* sin borde */
                        border: none;
                        /* Tamaño de los margenes */
                        padding: 15px 32px;
                        /* Color de la fuente */
                        color: white;
                        /* Color de fondo */
                        background-color: #fa1616;
                        /* Alineacion de texto */
                        text-align: center;
                        margin: 2%;
                    }
                    /* Estilo para select class="opciones" */
                    
                    .option {
                        padding: 12px 30px;
                        font-size: 12px 30px;
                    }
                    /* Estilo de todos los input */
                    
                    input,
                    textarea,
                    option {
                        font-size: 30px;
                    }
                    /* estilos de pie de página id="pie" */
                    
                    #pie {
                        width: auto;
                        /* Color de fondo */
                        background-color: #141313;
                        /* Color y alineación del texto */
                        color: whitesmoke;
                        text-align: center;
                        /* Crea un borde con una separación interior del 2% */
                        border-top: 8px solid #fa1616;
                        padding: 2%;
                        clear: both;
                    }
                    /* Buscador de productos */
                    
                    body {
                        padding-top: 75px;
                    }
                    
                    .buscador_clase {
                        width: 490px;
                        display: block;
                        margin: 0 auto;
                    }
                    
                    input#buscador {
                        margin: 0 auto;
                        width: 100%;
                        height: 45px;
                        padding: 0 20px;
                        font-size: 1rem;
                        border: 1px solid #D0CFCE;
                        outline: none;
                    }
                    
                    .buscador_icono {
                        position: relative;
                        float: right;
                        width: 75px;
                        height: 75px;
                        top: -62px;
                        right: -45px;
                    }